<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Apple Music API</title>
	<script src="https://js-cdn.music.apple.com/musickit/v3/musickit.js" data-web-components async></script>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<style>
	form{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50);
	}
</style>

<form action="/api/apple_music">
	<input type="submit" value="ログイン">
</form>

</body>
</html>
