<form action="/api/apple_music" class="login-form">
	<img src="https://developer.apple.com/assets/elements/icons/musickit/musickit-128x128_2x.png" alt="Music Kit Logo">
	<div class="logo-text-wrap">
		<h1>Apple Music API<br>Token Generator</h1>
		<input type="submit" value="ログイン">
	</div>
</form>
